.cartegory {
    height: fit-content;
    position: relative;
    padding: 2rem 0px;
    flex: 0.5;
    width: 18rem;
    margin: 50px auto;
    background-color: #00000085;
    color: #eee;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    animation: slideInUp 1.5s forwards ease;
}

.name {
    font-size: 2.2em;
    width: 100%;
    flex: 0.3;
    padding: 2rem auto;
    font-family: sans-serif;
    text-align: center;
}

.forwardIcon {
    float: right;
    margin-right: 20px;
    cursor: pointer;
    width: 3rem;
}

.prodWrapper {
    width: 100%;
    flex: 0.8;
    /* height: 22rem; */
    margin-top: 0.3em;
}

@media only screen and (max-width: 768px) {
    .cartegory {
        height: 20rem;
    }

    .name {
        font-size: 1.8em;
        height: 21%;
    }

    .Image {
        width: 1rem;
    }
}

/* @media only screen and (max-width: 430px) {
    .name {
        font-size: 1.1em;
        height: 18%;
    }

    .name>img {
        height: 11px;
    }

    .cartegory {
        height: 15rem;
    }
} */

@keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}