.cartegoryName {
    width: 100%;
    height: 7rem;
    background: linear-gradient(193deg, #000000 51.9%, #3E1EE9 123%);
    position: absolute;
    top: 5.6rem;
    color: #eee;
    display: grid;
    font-size: 3em;
    padding-left: 1.5rem;
    font-family: sans-serif;
    align-content: center;
}

.cartegoryName>div {
    font-size: 0.5em;
}

.main {
    display: flex;
    flex-direction: row;
    width: 98%;
    height: auto;
    margin: 15rem auto;
    margin-bottom: 19px;
}

.productWrapper {
    display: flex;
    flex: 4 1;
    height: fit-content;
    background: #00000085;
    margin: 0 auto auto 1.2rem;
    flex-wrap: wrap;
    align-content: flex-start;
    color: #eee;
    justify-content: center;
    padding: 1rem;
}

.ul {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    width: 100%;
    align-content: space-between;
    justify-content: space-between;
    padding-left: 2rem;
    align-items: flex-start;
}

.filterPannel {
    display: flex;
    flex: 1;
    background-color: #eee;
    height: fit-content;
    flex-direction: column;
}

.filterHeader {
    margin-right: auto;
    padding: 1.4rem;
    padding-inline: 2rem;
    border-bottom: 1.5px solid #777;
    width: 100%;
}

@media only screen and (max-width: 430px) {
    .filterPannel {
        display: none;
    }
}