.cartegory {
    height: 27rem;
    position: relative;
    max-width: 95vw;
    margin: 50px auto;
    background-color: #eee;
}

.name {
    font-size: 2.2em;
    width: inherit;
    height: 14%;
    padding: 9px 0px 1px 22px;
    border-bottom: 1px solid #777;
}

.name>img {
    float: right;
    margin-right: 20px;
    cursor: pointer;
}

.prodWrapper {
    width: inherit;
    display: flex;
    height: 22rem;
    margin-top: 0.3em;
}

.product {
    margin: auto;
    height: inherit;
    cursor: pointer;
    padding-top: 17px;
}

.productImg {
    height: 65%;
    position: relative;
}

.price {
    text-align: center;
    font-size: 2.5em;
    padding-top: 5px;
}

@media only screen and (max-width: 768px) {
    .productImg {
        height: 38%;
    }

    .price {
        font-size: 1.6em;
    }

    .cartegory {
        height: 20rem;
    }

    .name {
        font-size: 1.8em;
        height: 21%;
    }
}

@media only screen and (max-width: 430px) {
    .productImg {
        height: 26%;
    }

    .name {
        font-size: 1.5em;
        height: 19%;
    }

    .cartegory {
        height: 15rem;
    }
}