.footer>span {
    align-self: flex-start;
    margin: auto 0 13px 10px;
    font-size: 1.7em;
    border: none;
    display: block;
    padding: 7px;
}

.footer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    background-color: #f5801e;
    color: #eee;
    margin-left: -1%;
    margin-top: 4%;
    width: inherit;
    text-align: center;
}