.footer>span {
    align-self: flex-start;
    margin: auto 0 13px 10px;
    font-size: 1.7em;
    border: none;
    display: block;
    padding: 7px;
}

.footer>h1 {
    margin: 3% auto;
    font-size: 3.4em;
    text-align: center;
}

.footer>p {
    font-size: 1.5em;
    margin: auto;
    width: 90%;
    text-align: center;
}

.footer>section {
    width: 90%;
    height: 7rem;
    margin: 6rem auto;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    align-content: space-between;
}

.footer>section>span {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    align-items: center;
    background-color: #000;
    color: #eee;
    /* margin-left: -1%; */
    margin-top: 4%;
    width: 100%;
}