@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  background: linear-gradient(131deg, #000000 20.9rem, #e91e63 2%, #3E1EE9 106%)
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  /* border-bottom: 1px solid #e2e8f0; */
  background: #000;
  color: #deedf2 !important;
  position: fixed;
  z-index: 10;
  box-shadow: 0 0 6px 0 #eee;
  width: 100%;
  top: 0;
}

.navbar {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #deedf2;
}

.search-bar {
  border: none;
  padding: 10px;
  flex: 2;
  border-radius: 5px 0px 0 5px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 32rem;
}

.nav-item {
  margin-left: 5rem;
}

.nav-item:nth-child(1) {
  display: flex;
  width: 90%;
}

.nav-item > span:not(.nav-link) {
  flex: 0.17 1;
  background: #fff;
  border-radius: 0 5px 5px 0px;
  padding: 5px;
  border-left: 1px dotted #000;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #deedf2;
}

.nav-link:hover {
  color: #777;
}

.nav-logo {
  font-size: 1.8rem;
  color: #deedf2;
  text-align: center;
  width: 7.8rem;
  height: 100%;
}

.shopping-cart-wrapper {
  align-self: flex-end;
  margin: auto;
  margin-inline-end: 1rem;
}

.shopping-cart {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #e41e67;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    margin-left: 0rem;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  /* .nav-item:nth-child(1) {
    margin-left: -35px;
  } */

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media only screen and (max-width: 430px) {
  .product {
    width: 5rem !important;
  }
}
