@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  background: linear-gradient(to right,  #ffbd52 28%, #ff9d42 99%);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header{
  border-bottom: 1px solid #E2E8F0;
  background-color: #ffbd52;
  color: #deedf2 !important;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #deedf2;
}

.search-bar {
  border: none;
  padding: 10px;
  width: 270px;
  border-radius: 5px 0px 0 5px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-item>span {
  width: 34px;
  height: 35.5px;
  position: absolute;
  background: #fff;
  border-radius: 0 5px 5px 0px;
  padding: 5px;
  border-left: 1px dotted #000;
  cursor: pointer;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: #deedf2;
}

.nav-link:hover{
  color: #777;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #deedf2;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #d56100;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

}