@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

.welcomeBanner {
  height: 113vh;
  width: inherit;
  position: relative;
  top: 0vh;
  margin: 0em 0 0 0em;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* background-image: url("../public/phoneImg.png"); */
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

.sampleImg {
  margin: auto;
  width: 25rem;
  height: 25rem;
  filter: drop-shadow(1px 3px 20px black);
  animation: pulse 2s ease infinite;
}

/* section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

section>div {
  margin: auto;
} */

.sectionHeading {
  width: 100%;
  margin: auto;
  color: #eee;
  text-align: center;
  font-size: 2.5em;
}

.sectionHeading>span {
  border-bottom: 2px solid #eee;
}

.title {
  font-size: 12rem;
  position: relative;
  margin: auto 2rem;
  font-weight: 100;
  color: #deedf2;
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 3px 20px black;
}

.small {
  display: block;
  font-size: 0.2em;
  text-align: center;
  text-shadow: none;
}

.cartegoriesContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content:space-around;
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
    transform: scale3d(1.02, 1.02, 1.02);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 4rem;
  }

  .welcomeBanner {
    height: 52vh;
  }

  .sampleImg {
    width: 15rem;
    height: 15rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}