.product {
    margin: auto;
    height: inherit;
    cursor: pointer;
    padding: 24px;
}

.productImg {
    width: 15rem;
    position: relative;
}

.price {
    text-align: center;
    font-size: 1.3em;
    padding-top: 5px;
    font-family: sans-serif;
}

@media only screen and (max-width: 768px) {
    .productImg {
        width: 38%;
    }

    .price {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 430px) {
    .productImg {
        width: 23%;
    }
}