.form {
    background-color: #eee;
    width: 89vw;
    height: 73vh;
    -webkit-box-shadow: 0 0 11px 0 #777;
    margin: 13rem auto;
    box-shadow: 0 0 11px 0 #777;
    border-radius: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 100%;
    height: 100%; */
    overflow-y: auto;
}

.fieldWrapper{
    display: flex;
    flex-direction: row;
    height: inherit;
    flex: 1 1;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.fieldWrapper>div {
    font-size: 1.5em;
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: flex;
    height: fit-content;
}

.fieldWrapper>div>input[type="text"] {
    border: none;
    height: 2.3rem;
    width: 72%;
    float: right;
}


.fieldWrapper>button {
    align-self: flex-start;
    background-color: #ffbd52;
    border: none;
    color: #eee;
    padding: 1rem 5rem;
    cursor: pointer;
}

.fieldWrapper>div>.addCart {
    font-size: 2em;
    cursor: pointer;
    box-shadow: 0 0 8px 0 #777;
    margin: 0 auto;
    position: relative;
    padding: 0 1rem;
}

.imgWrapper {
    align-self: flex-start;
    max-width: 33rem;
    max-height: 33rem;
    background-color: rgb(214, 214, 214);
    display: grid;
    color: #777;
    font-size: 2em;
    margin: auto 1rem;
    text-align: center;
}

.imgAndButnWrapper>div {
    margin: auto;
}

.imgWrapper input {
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 4;
}

.imgWrapper * {
    grid-column: 1;
    grid-row: 1;
}

.checkboxContainer {
    display: flex;
    flex: 0.5;
}

.checkbox {
    transform: scale(1.5);
    top: 3px;
    position: relative;
    margin: 0 auto;
}